<th:block th:fragment="meta">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet"
	href="http://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" />

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<style>
html,body {
	min-height: 100vh;
	height: 100%;
}
main {
	height: 80%;
}
main .container {
	height: 100%;
}
h4 {
	color: #26a69a;
}
.valign-wrapper {
	height: 100%;
}
nav {
	background-color: #26a69a;
}
nav .brand-logo {
	padding-left: 8px;
}
</style>
</th:block>
<header th:fragment="header">
	<ul id="locale" class="dropdown-content">
		<li><a href="?language=en" th:utext="#{language_en}">en</a></li>
		<li><a href="?language=ru" th:utext="#{language_ru}">ru</a></li>
	</ul>
	<nav>
		<div class="nav-wrapper">
			<form id="logoutForm" name="logoutForm" th:action="@{/logout}"
				method="post"></form>
			<a th:href="@{/}" class="brand-logo hide-on-small-only" th:utext="#{site.name}">Logo</a>
			<ul class="right">
				<li><a class="dropdown-button" href="#!"
					data-activates="locale"><span th:utext="#{language}"></span><i class="material-icons right">arrow_drop_down</i></a></li>
				<li sec:authorize="hasRole('ROLE_AUTHENTICATED')"><a href="#!" onclick="document.logoutForm.submit()" th:utext="#{logout}"></a></li>
			</ul>
		</div>
	</nav>
</header>

<footer th:fragment="footer" class="page-footer">
	<!-- div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div -->
	<div class="footer-copyright">
		<div class="container">
	           © 2016 Vitaliy Kovalenko
		</div>
	</div>
</footer>
