<div th:fragment="main" class="row valign-wrapper">
	<form class="col l6 m8 s12 card valign" id="loginForm" name="loginForm" th:action="@{/login}" method="post">
		<h4 class="center" th:utext="#{login.header}">...</h4>
		<p style="color:#ee6e73;" class="center" th:if="${param.error}" th:text="#{login.error}"></p>
		<p style="color:#26a69a;" class="center" th:if="${param.logout}" th:text="#{login.logout}"></p>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix active">account_circle</i>
				<input class="validate valid" name="username" id="username" type="text" length="255" minlength="6" required="" aria-required="true" />
				<label for="username" th:utext="#{login.username}">...</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix active">vpn_key</i>
				<input class="validate valid" name="password" id="password" type="password" length="255" minlength="6" required="" aria-required="true" />
				<label for="password" th:utext="#{login.password}">...</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<button class="btn-large waves-effect waves-light right" type="submit"
					name="action">
					<span th:utext="#{login.submit}">Submit</span> <i
						class="material-icons right">send</i>
				</button>
			</div>
		</div>
	</form>
</div>