<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="isysmod-static">
        <wb-resource deploy-path="/" source-path="/WebContent"/>
        <dependent-module deploy-path="/" handle="module:/overlay/var/M2_REPO/com/isomorphic/smartclient/lgpl/smartclient-resources/11.0-p20160506/smartclient-resources-11.0-p20160506.war?unpackFolder=target/m2e-wtp/overlays&amp;includes=**/**&amp;excludes=META-INF/MANIFEST.MF">
            <dependency-type>consumes</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/isysmod-static/target/classes"/>
        <property name="context-root" value="isysmod-static"/>
    </wb-module>
</project-modules>
