<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="isysmod-orm-builder">
        <wb-resource deploy-path="/" source-path="/orm-beans"/>
        <property name="java-output-path" value="/isysmod-orm-builder/build/classes"/>
    </wb-module>
</project-modules>
